/* =========================
        GLOBAL RESET
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* =========================
        SCROLLBAR (WEBKIT)
========================= */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #ff0000, #cc0000);
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #ff3333, #990000);
    box-shadow: 0 0 15px rgba(255, 0, 0, 1);
}

/* =========================
        SCROLLBAR (FIREFOX)
========================= */

* {
    scrollbar-width: thin;
    scrollbar-color: #ff0000 rgba(0, 0, 0, 0.8);
}

/* =========================
        TEXT SELECTION
========================= */

::selection {
    background: rgba(233, 38, 38, 0.729);
    color: #ffffff;
}

::-moz-selection {
    background: rgba(235, 34, 34, 0.701);
    color: #ffffff;
}

/* =========================
        BODY BASIC
========================= */


html, body{
    overflow-x: hidden;
}

.home-icon{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    font-size: 30px;
    cursor: pointer;
    color:white;
    font-size:30px;
}

.home-icon:hover {
    color:#f30606;
    filter: drop-shadow(0 0 3px rgba(255, 0, 0, 0.9));
}

.spidy-info{
    position: relative;
}

.center-text{
    position: absolute;
    font-size: 100px;
    font-weight: 800;
    color: #ff3333;
    z-index: 10;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    animation-duration: 3s;
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
}



img{
    display: block;
}

.spidy-info{
    height: 100vh;
    width: 100%;
    display: flex;
}

.left,.right {
    width: 50%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.img-scroll{
    position: relative;
}

.img-scroll p{
    position: absolute;
    bottom: 30px;
    left: 0;
    margin: 0;
    padding: 0 20px;
    color: rgb(32, 201, 201);

}





.section2 {
    height: 100vh;
    width: 100%;
    background-color: black;
}

